
$unit_bold: 'UnitOT-Bold';
$unit_bold_italic: 'UnitOT-BoldIta';
$unit_light: 'UnitOT-Light';
$unit_light_italic: 'UnitOT-LightIta';
$unit_thin: 'UnitOT-Thin';
$unit_thin_italic: 'UnitOT-ThinIta';

@font-face {
  font-family: 'UnitOT-Bold';
  src: url('../fonts/UnitOT-Bold_gdi.eot');
  src: url('../fonts/UnitOT-Bold_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UnitOT-Bold_gdi.woff') format('woff'),
  url('../fonts/UnitOT-Bold_gdi.ttf') format('truetype'),
  url('../fonts/UnitOT-Bold_gdi.svg#UnitOT-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family: 'UnitOT-BoldIta';
  src: url('../fonts/UnitOT-BoldIta.eot');
  src: url('../fonts/UnitOT-BoldIta.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UnitOT-BoldIta.woff') format('woff'),
  url('../fonts/UnitOT-BoldIta.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'UnitOT-Light';
  src: url('../fonts/UnitOT-Light_gdi.eot');
  src: url('../fonts/UnitOT-Light_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UnitOT-Light_gdi.woff') format('woff'),
  url('../fonts/UnitOT-Light_gdi.ttf') format('truetype'),
  url('../fonts/UnitOT-Light_gdi.svg#UnitOT-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family: 'UnitOT-LightIta';
  src: url('../fonts/UnitOT-LightIta_gdi.eot');
  src: url('../fonts/UnitOT-LightIta_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UnitOT-LightIta_gdi.woff') format('woff'),
  url('../fonts/UnitOT-LightIta_gdi.ttf') format('truetype'),
  url('../fonts/UnitOT-LightIta_gdi.svg#UnitOT-LightIta') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family: 'UnitOT-Thin';
  src: url('../fonts/UnitOT-Thin_gdi.eot');
  src: url('../fonts/UnitOT-Thin_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UnitOT-Thin_gdi.woff') format('woff'),
  url('../fonts/UnitOT-Thin_gdi.ttf') format('truetype'),
  url('../fonts/UnitOT-Thin_gdi.svg#UnitOT-Thin') format('svg');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}

@font-face {
  font-family: 'UnitOT-ThinIta';
  src: url('../fonts/UnitOT-ThinIta_gdi.eot');
  src: url('../fonts/UnitOT-ThinIta_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UnitOT-ThinIta_gdi.woff') format('woff'),
  url('../fonts/UnitOT-ThinIta_gdi.ttf') format('truetype'),
  url('../fonts/UnitOT-ThinIta_gdi.svg#UnitOT-ThinIta') format('svg');
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}